[submodule "examples/nanovg"]
	path = examples/nanovg
	url = git://github.com/memononen/nanovg
[submodule "examples/upng"]
	path = examples/upng
	url = git://github.com/elanthis/upng
[submodule "examples/cimgui"]
	path = examples/cimgui
	url = git://github.com/Extrawurst/cimgui
